.App {
  text-align: center;
  background-color: lightblue;
  position: fixed;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.eaws-table {
  position: absolute;
  left: 20%;
  bottom: 0%;
  header,
  .row {
    display: flex; /* aligns all child elements (flex items) in a row */
  }
  header {
    font-weight: bold;
  }
  .col {
    border: 1px solid #ccc;
    flex: 1; /* distributes space on the line equally among items */
  }
}

img {
  width: auto;
  min-width: 200px;
  max-width: 100vw;
  height: auto;
  min-height: 200px;
  max-height: 100vh;
}

.shoulder_left {
  color: black;
  background-color: lightblue;
  position: absolute;
  left: 25%;
  top: 25%;
}
.hip_left{
  color: black;
  background-color: lightblue;
  position: absolute;
  left: 20%;
  top: 45%;
}
.eaws-score {
  color: black;
  background-color: lightblue;
  position: absolute;
  left: 40%;
  top: 5%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
